@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff93be3;
}
main {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 3.4em;
    padding: 10px;
    font-family: amatic SC, sans-serif;
    font-weight: bold;
}

#rules {
    text-align: center;
    padding-bottom: 10px;
}

#rules > h2 {
    font-family: Indie Flower, sans-serif;
    font-size: 2em;
}

#rules > p {
    font-family: Indie Flower, sans-serif;
    font-size: 1.3em;
}

#start {
    font-family: amatic SC;
    margin: 0px 40% 20px;
    width: 20%;
    height: 50px;
    background-color: #27bbcb;
    border-radius: 15px;
    border-width: 0px;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    color: white;
}

#game-board {
    max-width: 800px;
    margin: 0 auto;
}

#scores-div > h3 {
    font-family: Indie Flower, sans-serif;
    font-size: 1.6em;
    margin-left: 1em;
}

#grid {
    text-align: center;
    height: 500px;
    margin-bottom: 30px;
}

/* grid for images to sit */
.img-div {
    background-color: #27bbcb;
    width: 160px;
    height: 160px;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
}

/* Images */
img {
    max-width: 80%;
    height: 85%;
    position: relative;
    top: 10px;
    opacity: 0;
}


.green {
    background-color: #0eb60e;
}

.red {
    background-color: #ff0000;
}

#message {
    font-family: Indie Flower, sans-serif;
    text-align: center;
    font-size: 1.3em;
    top: 65px;
    margin-bottom: 0.5em;
    opacity: 0;
}

.text-right {
    text-align: right;
    margin-right: 1em;
    position: relative;
    top: -1.6em;
    margin-bottom: -35px;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    .img-div {
        width: 20%;
        height: 27%;
        margin: 3px;
    }
}

@media only screen and (max-width: 560px) {
    .img-div {
        height: 20%;
    }
}

@media only screen and (max-width: 480px) {
    .img-div {
        width: 22%;
        margin: 2px;
    }

    #rules > h2 {
        font-size: 1.7em;
    }

    #rules > p {
        font-size: 1.2em;
    }

    #start {
        font-size: 1.7em;
        height: 40px;
    }

    #scores-div > h3 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 410px) {
    #message {
        font-size: 1.3em;
    }

    #scores-div > h3 {
        font-size: 1.4em;
    }

    img {
        max-width: 90%;
        height: 80%;
        top: 12px;
    }

    .img-div {
        width: 23%;
        height: 19%;
        margin: 1px;
    }
}



