* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fae778;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

#rules {
    text-align: center;
}

#rules > h3 {
    font-size: 1.5em;
}

#rules > p {
    font-size: 1.1em;
}

#game-board {
    width: 60%;
    margin: 0 auto;
    padding-top: 35px;
}

#scores-div > h3 {
    font-size: 1.4em;
}

/* grid for images to sit */
.img-div {
    background-color: lightblue;
    width: 20%;
    height: 150px;
    margin: 1%;
    display: inline-block;
}

/* Images */

.image {
    width: 150px;
    height: 150px;
}





