@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff93be3;
}
main {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 3.4em;
    padding: 10px;
    font-family: amatic SC, sans-serif;
    font-weight: bold;
}

#rules {
    text-align: center;
    padding-bottom: 10px;
}

#rules > h2 {
    font-family: Indie Flower, sans-serif;
    font-size: 2em;
}

#rules > p {
    font-family: Indie Flower, sans-serif;
    font-size: 1.3em;
}

#start {
    font-family: amatic SC;
    margin: 0px 40%;
    width: 20%;
    height: 50px;
    background-color: #27bbcb;
    border-radius: 15px;
    border-width: 0px;
    text-align: center;
    font-size: 2em;
}

#game-board {
    width: 60%;
    margin: 0 auto 10px auto;
}

#scores-div > h3 {
    font-family: Indie Flower, sans-serif;
    font-size: 1.6em;
}

#grid {
    text-align: center;
}

/* grid for images to sit */
.img-div {
    background-color: #27bbcb;
    width: 20%;
    height: 150px;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
}

/* Images */
img {
    width: 90%;
    height: 85%;
    position: relative;
    top: 8%;
    opacity: 0;
}


.green {
    background-color: #0eb60e;
}

.red {
    background-color: #ff0000;
}

#message {
    font-family: Indie Flower, sans-serif;
    text-align: center;
    font-size: 1.3em;
    position: relative;
    top: 40px;
    margin-top: -30px;
    opacity: 0;
}



